@media (min-width: 768px) {
    body {
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        background-attachment: fixed;
        background-size: cover !important;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .container {
        padding: 25px 50px;
    }
    .background {
        background-image: linear-gradient(to bottom,rgba(0,0,0,.1),rgba(0,0,0,.25) 405px),url("/pubg-0.jpg") !important;
    }
    .ant-layout {
        background: none;
    }
    .logo-text {
        color:#EEE;
    }
    .brace {
        background-image: radial-gradient(circle at 0 0, rgba(255,255,255,0) 14.5px, #fff 15.5px, #fff 19.5px, rgba(255,255,255,0) 20.5px), radial-gradient(circle at 35px 0, rgba(255,255,255,0) 14.5px, #fff 15.5px, #fff 19.5px, rgba(255,255,255,0) 20.5px);
    }
    .brace:before, .brace:after {
        border-top: 5px solid #fff;
    }
    .navbar {
        height:64px;
    }
}
@media (max-width: 767px) {
    .container {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }
    .logo-text{
        color:#333;
    }
    .brace {
        background-image: radial-gradient(circle at 0 0, rgba(51,51,51,0) 14.5px, #333 15.5px, #333 19.5px, rgba(51,51,51,0) 20.5px), radial-gradient(circle at 35px 0, rgba(51,51,51,0) 14.5px, #333 15.5px, #333 19.5px, rgba(51,51,51,0) 20.5px);
    }
    .brace:before, .brace:after {
        border-top: 5px solid #333;
    }
    .navbar {
        height:115px;
    }
}
body {
    min-width:300px;
}
.text-center {
    text-align:center;
}
#root, .ant-layout.ant-layout-has-sider {
    height:100%;
}
.logo {
    height: 32px;
    font-size:1.5rem;
    margin: 16px;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
  p {
    margin: 0 20px 20px;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
  }
  .brace {
    width: auto;
    min-width: 35px;
    padding-bottom: 20px;
    font-size: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 15px 15px;
    border: none;
    background-color: transparent;
    background-size: 35px 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-transform: lowercase;
    font-style: italic;
    -webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,0.15));
            filter: drop-shadow(0 1px 1px rgba(0,0,0,0.15));
  }
  .brace:before {
    width: 50%;
    border-left: 1px solid transparent; /* play with this until you like the look of it */
    border-top-left-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute;
    top: 100%;
    left: -15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -5px;
  }
  .brace:after {
    width: 50%;
    border-right: 1px solid transparent; /* play with this until you like the look of it */
    border-top-right-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute;
    top: 100%;
    right: -15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -5px;
  }